<plugin>
	<nom>Publicaciones</nom>
	<auteur>Sylvain Lesage</auteur>
	<version>0.1.2</version>
	<version_base>0.1.4</version_base>
	<install>base/publicaciones_upgrade.php</install>
	<etat>test</etat>
	<description>
		Este plugin crea un nuevo objeto editorial
		para manejar las publicaciones
	</description>
	<lien>http://proyectos.vicepresidencia.gob.bo/issues/6</lien>
	<icon>images/publicaciones-128.png</icon>
	<prefix>publicaciones</prefix>

        <!--
                cargar inc/presentation 
                para la funcion f_boite_infos del pipeline boite_infos
                es muy malo ! hay que corregir eso !
        -->
        <fonctions>publicaciones_fonctions.php</fonctions>
        <options>publicaciones_options.php</options>

	<!-- Declaracion de la tabla en la base de datos y 
	     de los bucles SPIP -->
	<pipeline>
		<nom>declarer_tables_interfaces</nom>
		<inclure>base/publicaciones.php</inclure>
	</pipeline>
	<pipeline>
		<nom>declarer_tables_principales</nom>
		<inclure>base/publicaciones.php</inclure>
	</pipeline>
	<pipeline>
		<nom>declarer_tables_auxiliaires</nom>
		<inclure>base/publicaciones.php</inclure>
	</pipeline>
        <!-- Pipeline : declarar los sobrenombres a SPIP -->
        <pipeline>
              <nom>declarer_tables_objets_surnoms</nom>
              <inclure>base/publicaciones.php</inclure>
        </pipeline> 
	<!-- Definicion del boton de la interfaz privada -->
	<bouton id='publicaciones' parent='naviguer'>
		<icone>images/publicaciones-24.png</icone>
		<titre>publicaciones:publicaciones</titre>
	</bouton>
	<bouton id='publicaciones' parent='bando_edition'>
		<icone>images/publicaciones-24.png</icone>
		<titre>publicaciones:publicaciones</titre>
	</bouton>
	<pipeline>
		<nom>autoriser</nom>
		<inclure>publicaciones_autorisations.php</inclure>
	</pipeline>
	<!-- Interfaz con el plugin ChampsExtras2 -->
	<pipeline>
		<nom>objets_extensibles</nom>
		<inclure>publicaciones_pipelines.php</inclure>
	</pipeline>
        <!-- Anadir campos extras ("expositores", "editorial") en las publicaciones -->
        <pipeline>
                <nom>declarer_champs_extras</nom>
                <inclure>base/publicaciones.php</inclure>
        </pipeline>
	<!-- Anadir las palabras-clave para las publicaciones -->
	<pipeline>
		<nom>declarer_liaison_mots</nom>
		<inclure>base/publicaciones.php</inclure>
	</pipeline>
        <!-- Anadir la busqueda sobre los campos de publicaciones -->
        <pipeline>
                <nom>rechercher_liste_des_champs</nom>
                <inclure>publicaciones_pipelines.php</inclure>
        </pipeline>
        <!-- Anadir la busqueda sobre los campos de los objetos vinculados -->
<!--        <pipeline>
                <nom>rechercher_liste_des_jointures</nom>
                <inclure>publicaciones_pipelines.php</inclure>
        </pipeline>-->

	<necessite id="SPIP" version="[2.1.8;]" />
        <!-- para ayudar en los campos de formularios -->
        <necessite id="saisies" version="[1.8.13;]" />
        <!-- filtro |icone y bucles CONDITION -->
        <necessite id="spip_bonux" version="[2.2.15;]" />
        <!-- para permitir el vinculo entre articulos y publicaciones -->
        <necessite id="cextras" version="[1.8.0;]" />
        <!-- necesario para los autores y el editorial de una publicacion -->
        <necessite id="expositores" version="[0.1.0;]" />
        <necessite id="editoriales" version="[0.1.0;]" />
        <!-- para permitir el uso de palabras-clave con las publicaciones -->
        <necessite id="mots_objets" version="[0.3;]" />
</plugin>
