<plugin>
	<nom><multi>
		[es]VicePresidencia
	</multi></nom>
	<auteur>[->www.styleshout.com] adaptado para Zpip por Cedric Morin [yterium.com->http://www.yterium.com], adaptado para SitioVice por Sylvain LESAGE</auteur>
	<version>0.1</version>
	<licence><a href='http://creativecommons.org/licenses/by/2.5/' rel='licence'>Creative Commons Attribution 2.5 License</a></licence>
	<description><multi>
		[es]Un tema minimalista. 
	</multi></description>
	<icon>vignette.jpg</icon>
	<etat>stable</etat>
	<prefix>theme</prefix>
	<utilise id="Z" version="[1.2.0;]" />
	<categorie>theme</categorie>
</plugin>
