<plugin>
	<nom>Fuentes</nom>
	<auteur>Sylvain Lesage</auteur>
	<version>0.1.0</version>
	<version_base>0.1.0</version_base>
	<install>base/fuentes_upgrade.php</install>
	<etat>test</etat>
	<description>
		Este plugin crea un nuevo objeto de spip
		para manejar los fuentes de noticias
	</description>
	<lien>http://proyectos.vicepresidencia.gob.bo/issues/7</lien>
	<icon>images/fuentes-128.png</icon>
	<prefix>fuentes</prefix>

        <!--
                cargar inc/presentation 
                para la funcion f_boite_infos del pipeline boite_infos
                es muy malo ! hay que corregir eso !
        -->
        <fonctions>fuentes_fonctions.php</fonctions>
        <options>fuentes_options.php</options>

	<!-- Declaracion de la tabla en la base de datos y 
	     de los bucles SPIP -->
	<pipeline>
		<nom>declarer_tables_interfaces</nom>
		<inclure>base/fuentes.php</inclure>
	</pipeline>
	<pipeline>
		<nom>declarer_tables_principales</nom>
		<inclure>base/fuentes.php</inclure>
	</pipeline>
        <!-- Pipeline : declarar los sobrenombres a SPIP -->
        <pipeline>
              <nom>declarer_tables_objets_surnoms</nom>
              <inclure>base/fuentes.php</inclure>
        </pipeline> 
	<!-- Definicion del boton de la interfaz privada -->
	<bouton id='fuentes' parent='naviguer'>
		<icone>images/fuentes-24.png</icone>
		<titre>fuentes:fuentes</titre>
	</bouton>
	<bouton id='fuentes' parent='bando_edition'>
		<icone>images/fuentes-24.png</icone>
		<titre>fuentes:fuentes</titre>
	</bouton>
	<pipeline>
		<nom>autoriser</nom>
		<inclure>fuentes_autorisations.php</inclure>
	</pipeline>
	<!-- Interfaz con el plugin ChampsExtras2 -->
	<pipeline>
		<nom>objets_extensibles</nom>
		<inclure>fuentes_pipelines.php</inclure>
	</pipeline>
        <!-- Anadir el campo extra "fuente" en los articulos (noticias) -->
        <pipeline>
                <nom>declarer_champs_extras</nom>
                <inclure>base/fuentes.php</inclure>
        </pipeline>

	<necessite id="SPIP" version="[2.1.8;]" />
        <!-- para ayudar en los campos de formularios -->
        <necessite id="saisies" version="[1.8.13;]" />
        <!-- filtro |icone y bucles CONDITION -->
        <necessite id="spip_bonux" version="[2.2.15;]" />
        <!-- para permitir el vinculo entre noticias (articulos) y fuentes -->
        <necessite id="cextras" version="[1.8.0;]" />
</plugin>
