<plugin>
	<nom>Licitaciones / contrataciones</nom>
	<auteur>Daniel Quisbert</auteur>
	<version>0.2.4</version>
	<version_base>0.2.4</version_base>
	<install>base/licitacion_upgrade.php</install>
	<etat>test</etat>
	<description>
		Este plugin crea un nuevo objeto de spip
		para manejar las licitaciones y contrataciones
		de la vicepresidencia inspirado en el plugin Asamblea.
	</description>
	<lien>http://</lien>
	<icon>images/licitacion-128.png</icon>
	<prefix>licitacion</prefix>

	<!--
		cargar inc/presentation 
		para la funcion f_boite_infos del pipeline boite_infos
		es muy malo ! hay que corregir eso !
	-->
	<fonctions>licitacion_fonctions.php</fonctions>
	<options>licitacion_options.php</options>

	<!-- Declaracion de la tabla en la base de datos y 
	     de los bucles SPIP -->
	<pipeline>
		<nom>declarer_tables_interfaces</nom>
		<inclure>base/licitacion.php</inclure>
	</pipeline>
	<pipeline>
		<nom>declarer_tables_principales</nom>
		<inclure>base/licitacion.php</inclure>
	</pipeline>
	<!-- Pipeline : declarar los sobrenombres a SPIP -->
	<pipeline>
	      <nom>declarer_tables_objets_surnoms</nom>
	      <inclure>base/licitacion.php</inclure>
	</pipeline> 
	<!-- Definicion del boton de la interfaz privada -->
	<bouton id='licitacion' parent='naviguer'>
		<icone>images/licitacion-24.png</icone>
		<titre>licitacion:licitacion</titre>
	</bouton>
	<bouton id='licitacion' parent='bando_edition'>
		<icone>images/licitacion-24.png</icone>
		<titre>licitacion:licitacion</titre>
	</bouton>
	<pipeline>
		<nom>autoriser</nom>
		<inclure>licitacion_autorisations.php</inclure>
	</pipeline>
	<!-- Interfaz con el plugin ChampsExtras2 -->
	<pipeline>
		<nom>objets_extensibles</nom>
		<inclure>licitacion_pipelines.php</inclure>
	</pipeline>
	<!-- Anadir la busqueda sobre los campos de parlamentarios -->
	<pipeline>
		<nom>rechercher_liste_des_champs</nom>
		<inclure>licitacion_pipelines.php</inclure>
	</pipeline>

	<necessite id="SPIP" version="[2.1.8;]" />
	<!-- para ayudar en los campos de formularios -->
	<necessite id="saisies" version="[1.8.13;]" />
	<!-- filtro |icone y bucles CONDITION -->
	<necessite id="spip_bonux" version="[2.2.15;]" />
	<!-- para permitir el vinculo entre noticias (articulos) y licitacion -->
	<necessite id="cextras" version="[1.8.0;]" />
</plugin>
